/* Global Styles */

* {
  font-family: arial, sans-serif;
}

a {
  text-decoration: none;
  color: #272727;
}

/* Main Body */

.logo, .search-form, .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.button {
  background-color: #F5F5F5;
  border: none;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  margin: 11px 4px;
  padding: 10px 16px;
  color: #757575;
  shadow: 0 1px 1px 0;
}

.main {
  display: flex;
  flex-direction: column;
}

.search-input {
  font-size: 24px;
  width: 500px;
}

/* Header and Footer */
.header, .footer {
  font-size: 12px;
  flex-direction: row;
}

.footer {
  display: flex;
  background-color: #F2F2F2;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
}


.footer-end a, .footer-start a {
  margin: 10px;
}
.footer-end, .footer-start {
  display: flex;
}
.footer-end {
  align-self: flex-end;
  flex-direction: row;
}

.footer-start {
  flex-direction: row;
  justify-content: flex-start;
}

.header, .footer {
  width:100%;
}

.header-item {
  margin: 0 10px 0 10px;
  align-items: center;
}

.header-items {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-bottom: 200px;
}

#bell, #apps {
  width: 20px;
  height: 20px;
  background-size: contain;
}
#bell {
  background-image: url(images/google_bell.png);
}

#apps {
  background-image: url(images/google_apps.png);
}

#profile {
  background-image: url(images/google_profile.png);
  width: 40px;
  height: 40px;
  align-items: ;
}

/*hover states */

.button:hover {
  color: #222;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border: 2px;
  border-color: #000;
}

#apps:hover {
  background-image: url(images/google_apps-hover.png);
  background-repeat: no-repeat;
}

a p:hover {
  text-decoration: underline;
}

p:hover {
  text-decoration: underline;
}

/* add in hover images*/
#bell:hover {
  background-image: url(images/google_bell-hover.png);
}

.search:focus {
  outline-color: #aaa;
  outline-style: auto;

}

.search:hover {
  box-shadow: 0 3px 8px 0 rgba (0,0,0,0.2) 0 0 1px rgba (0,0,0,0.08)
}
